version: '3.8'
services:
  ollama-vlm:
    image: ollama/ollama:latest
    container_name: ollama-vlm
    environment:
      - OLLAMA_NUM_PARALLEL=1
      - OLLAMA_MAX_LOADED_MODELS=1
    volumes:
      - ollama_storage:/root/.ollama
    networks:
      - logitrace-net
    restart: always

  ocr-app:
    build: .
    container_name: ocr-app
    depends_on:
      - ollama-vlm
    ports:
      - "8000:8000"
    environment:
      - OLLAMA_HOST=http://ollama-vlm:11434
    networks:
      - logitrace-net
    deploy:
      resources:
        limits:
          memory: 64G

networks:
  logitrace-net:
    external: false
volumes:
  ollama_storage: