services:
  ocr-app:
    build: .
    restart: always
    # Add this block to expose the port to the public IP
    ports:
      - "8000:8000" 
    deploy:
      resources:
        limits:
          memory: 6G
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true